html, body {
    height: 100%;
    overflow: hidden;
}

.full-height
{
    height: 100%;
}

.scrollable {
    height: 100%;
    overflow: auto;
}

.classifier-tables
{
    visibility: hidden;
}

.good-value
{
    background-color: lightgreen;
}